# Node/NPM stuff
node_modules
package-lock.json
yarn.lock
pnpm-lock.yaml

# Git
.git
.gitignore

# VSCode / JetBrains / OS
.vscode
.idea
.DS_Store

# Logs und Debug-Dateien
npm-debug.log*
*.log

# Build-Artefakte
dist
build
coverage
